/*background color*/
.gradient-background{
    -fx-background-color: #16425B;
}

/*line from the header*/
.line-color{
    -fx-background-color: #FFFFFF;
}

/*where the buttons and the user are*/
.container{
    -fx-background-color: #1d3346;
    -fx-background-radius: 10;
}

/*user text title, button labels*/
.text{
    -fx-fill: #ffffff;
}

/*buttons*/
.button-style{
    -fx-background-color: rgba(36, 79, 112, 1);
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/*graph*/
.axis{
    -fx-font-size: 24;
    -fx-tick-label-fill: #ffffff;
}

.bg-transparent {
    -fx-background: transparent;
}

/*PI/Encryption pannel*/
.buttonpi {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
.nodigits {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/*only PI*/
.choice-box {
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-focus-color: #ADD8E6;
    -fx-control-inner-background: #4FB0C6;
    -fx-selection-bar-text-fill: "white";
}

.choice-box .label {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

/*Dashboard*/
.bench-info-entity {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-color: #ffffff;
    -fx-color: #ffffff;
    -fx-padding: 20px;
    -fx-width: 200px;
}

.bench-info-header {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 20px;
    -fx-width: 200px;
}

.entity-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.entity-label-header {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.tab-pane .tab {
    -fx-background-color: #3b6f91;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab-pane .tab:selected {
    -fx-background-color: #ADD8E6;
    -fx-text-fill: #3b6f91;
}

/*dark/light mode button*/
.darklightmodebtn
{
    -fx-background-color: transparent;
}

/*progress bar*/
.progress-bar .bar {
    -fx-background-color: #3b6f91;
    -fx-background-radius: 20;
}
.progress-bar .track {
    -fx-background-radius: 20;
}

.progress-bar {
    -fx-background-radius: 20;
}

.text-area {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
}

/*result*/
.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-text-fill:white;
    -fx-font-weight: bold;
}

/*about*/
.about-text{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.center-text {
    -fx-text-align: center;
}

.centeredTextArea .content .text {
    -fx-text-alignment: center;
}

.computer-specs {
    -fx-text-fill: #ffffff;
}
